[submodule "sglang_spec_decode"]
	path = sglang_spec_decode
	url = ./sglang_spec_decode
[submodule "PostTrain-7B"]
	path = PostTrain-7B
	url = ./PostTrain-7B
[submodule "controlnet-architectural-sketch2render"]
	path = controlnet-architectural-sketch2render
	url = ./controlnet-architectural-sketch2render
[submodule "project_4_mini_pre_training"]
	path = project_4_mini_pre_training
	url = ./project_4_mini_pre_training
[submodule "whisper-streaming-optimization"]
	path = whisper-streaming-optimization
	url = ./whisper-streaming-optimization
[submodule "Generative-Model-Safety-Evaluation-LLMs-Diffusion-Models-"]
	path = Generative-Model-Safety-Evaluation-LLMs-Diffusion-Models-
	url = ./Generative-Model-Safety-Evaluation-LLMs-Diffusion-Models-
[submodule "stable-diffusion-architectural-finetuning"]
	path = stable-diffusion-architectural-finetuning
	url = ./stable-diffusion-architectural-finetuning
[submodule "cellagenet"]
	path = cellagenet
	url = ./cellagenet
